html {
  background: #111;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-around;
}

div.outer {
  flex: 1;
  padding: 5px;
  textarea {
    display: block;
    width: 100%;
    min-height: 100%;
    background: #111;
    color: #fff;
    border-color: "fff";
  }
}